@using Newtonsoft.Json
@model SchoolTech.ViewModels.NavormingCRUDViewModel

@{
	ViewBag.Title = "Navorming Weergave";
}

<div class="container mt-5">
    <h2 class="mb-4">Navorming Overzicht</h2>

    <a href="@Url.Action("Toevoegen", "Navorming")" class="btn btn-success mb-3">Nieuwe Navorming Toevoegen</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Naam Aanvrager</th>
                <th>Datum Navorming</th>
                <th>Kostprijs</th>
                <!-- Voeg andere relevante kolommen toe -->
                <th>Acties</th>
            </tr>
        </thead>
        <tbody>
            <!--
            <tr data-naam="Jefke" data-datum="12-12-2002" data-vak="Wiskunde" data-kostprijs="100$">
                    <td>Maria</td>
                    <td>12-12-2022</td>
                    <td>Wiskunde</td>
                    <td>100$</td>
                    <!-- Voeg andere data velden toe --><!--
                    <td>
                        <a href="Url.Action("Aanpassen", "Navorming")" class="btn btn-primary btn-sm">Bewerken</a>
                        <a href="#" class="btn btn-secondary btn-sm view-btn" data-toggle="modal" data-target="#viewModal">Bekijken</a>
                        <a href="" class="btn btn-danger btn-sm">Verwijderen</a>
                    </td>
                </tr>
                -->
            @foreach (var navorming in Model.Navormingen)
            {
                <tr data-naamAanvrager="@(navorming.Aanvrager.Voornaam + " " + navorming.Aanvrager.Naam)" data-datum="@(navorming.Datum)" data-startuur="@navorming.StartUur"
                    data-einduur="@navorming.EindUur" data-reden="@navorming.Reden" data-kostprijs="@("€" + navorming.Kostprijs)" data-isGoedgekeurd="@(navorming.IsGoedgekeurdDir)"
                    data-isAfgewezen="@navorming.isAfgewezen" data-opmerkingAfgewezen="@navorming.OpmerkingAfgewezen" data-isAfgewerkt="@navorming.IsAfgewerkt"
                    data-gaanMee="@(JsonConvert.SerializeObject(navorming.GebruikerNavormingen.Select(gn => new
                    {
                        VolledigeNaam = gn.Gebruiker.VolledigeNaam
                    }).ToList()))">
                    <td>@(navorming.Aanvrager.Voornaam + " " + navorming.Aanvrager.Naam)</td>
                    <td>@(navorming.Datum)</td>
                    <td>@(navorming.Kostprijs)</td>
                    <td>
                        <a href='Url.Action("Aanpassen", "Navorming")' class="btn btn-primary btn-sm">Bewerken</a>
                        <a href="#" class="btn btn-secondary btn-sm view-btn" data-toggle="modal" data-target="#viewModal">Bekijken</a>
                        <a href="" class="btn btn-danger btn-sm">Verwijderen</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="viewModalLabel">Studiebezoek Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Naam: <span id="modalNaamAanvrager"></span><br>
                    Datum: <span id="modalDatum"></span><br>
                    Startuur: <span id="modalStartuur"></span><br>
                    Einduur: <span id="modalEinduur"></span><br>
                    Reden: <span id="modalReden"></span><br>
                    Kostprijs: <span id="modalKostprijs"></span><br>
                    Is goedgekeurd: <span id="modalIsGoedgekeurd"></span><br>
                    Is afgewezen: <span id="modalIsAfgewezen"></span><br>
                    Opmerking afgewezen: <span id="modalOpmerkingAfgewezen"></span><br>
                    Is afgewerkt: <span id="modalIsAfgewerkt"></span><br>
                    Gaan mee: <span id="modalGaanMee"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

<!-- jQuery (noodzakelijk voor Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

<!-- Popper.js (noodzakelijk voor Bootstrap's tooltips en popovers) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.view-btn').forEach(button => {
            button.addEventListener('click', function () {
                var row = this.closest('tr');
                document.getElementById('modalNaamAanvrager').textContent = row.getAttribute('data-naamAanvrager');
                document.getElementById('modalDatum').textContent = row.getAttribute('data-datum');
                document.getElementById('modalStartuur').textContent = row.getAttribute('data-startuur');
                document.getElementById('modalEinduur').textContent = row.getAttribute('data-einduur');
                document.getElementById('modalReden').textContent = row.getAttribute('data-reden');
                document.getElementById('modalKostprijs').textContent = row.getAttribute('data-kostprijs');
                document.getElementById('modalOpmerkingAfgewezen').textContent = row.getAttribute('data-opmerkingAfgewezen');
                //document.getElementById('modalGaanMee').textContent = row.getAttribute('data-gaanMee');
                //JSON.parse(console.log(row.getAttribute('data-gaanMee')));
                //console.log(row.getAttribute('data-gaanMee'));
                //console.log(JSON.parse(row.getAttribute('data-gaanMee')));
                var gaanMee = JSON.parse(row.getAttribute('data-gaanMee'));
                var gaanMeeString = "";
                gaanMee.forEach(x => gaanMeeString += x.VolledigeNaam + ', ');
                gaanMeeString = gaanMeeString.slice(0, -2);
                document.getElementById('modalGaanMee').textContent = gaanMeeString;
                
                var isGoedgekeurd;
                if (row.getAttribute('data-isGoedgekeurd') == "True") { isGoedgekeurd = "Ja" }
                else if (row.getAttribute('data-isGoedgekeurd') == "False") { isGoedgekeurd = "Nee" }
                else {isGoedgekeurd = "Niet bepaald" }
                document.getElementById('modalIsGoedgekeurd').textContent = isGoedgekeurd;

                var isAfgewezen;
                if (row.getAttribute('data-isAfgewezen') == "True") { isAfgewezen = "Ja" }
                else if (row.getAttribute('data-isAfgewezen') == "False") { isAfgewezen = "Nee" }
                else { isAfgewezen = "Niet bepaald" }
                document.getElementById('modalIsAfgewezen').textContent = isAfgewezen;

                var isAfgewerkt;
                if (row.getAttribute('data-isAfgewerkt') == "True") { isAfgewerkt = "Ja" }
                else if (row.getAttribute('data-isAfgewerkt') == "False") { isAfgewerkt = "Nee" }
                else { isAfgewerkt = "Niet bepaald" }
                document.getElementById('modalIsAfgewerkt').textContent = isAfgewerkt;
            });
        });
    });
</script>

